<html>
  <head>
    <meta charset='utf-8' />
    <title>main handlebar</title>
    {{{_sections.head}}}
  </head>
  <body>
    {{#if flash}}
      <div class='alert' alert- {{flash.type}}>
        <button type='button' class='close' data-dismiss="'alert" aria-hidden='true'>
          X
        </button>
        <strong>{{flash.intro}}</strong>
        {{{flash.message}}}
      </div>
    {{/if}}
    {{{body}}}
  </body>
  <script>
  </script>
  {{{_sections.scripts}}}
</html>